{% spaceless %}
{% import "macros.twig" as macros %}

{% set genders = {'female': 'actress', 'male': 'actor'} %}

{% set countries_over_1m = freebase('[{
  "/location/statistical_region/population": [{
    "number>": 1000000,
    "limit": 1,
    "number": null
  }],
  "name": null,
  "type": "/location/country",
  "/location/location/adjectival_form": []
}]') %}

{% set countries_over_1m = countries_over_1m|merge([{
	'name': 'the world',
	'/location/location/adjectival_form': ['Famous']
}]) %}

{% for country in countries_over_1m if country['/location/location/adjectival_form']|length > 0 %}

	{% set causes_of_death = freebase('[{
	  "limit": 1000,
	  "name": null,
	  "type": "/people/cause_of_death"
	}]') %}

	{% for cause_of_death in causes_of_death %}
		{% set cause_of_death = cause_of_death.name %}

		{% for gender, profession_name in genders %}
			{% set pluralized_profession_name = pluralize(profession_name) %}

			{% set people = freebase('[{
			  "ns0:profession": "Actor",
			  "profession": [],
			  "limit": 50,
			  "*": null,
			  "id": null,
			  "gender": "' ~ gender ~ '",
			  "type": "/people/person",
			  "nationality": [{
			    "name": ' ~ (country.name == 'the world' ? 'null' : '"' ~ country.name ~ '"' ) ~ ',
			    "/location/location/adjectival_form": []
			  }],
			  "/common/topic/alias": [],
			  "/people/deceased_person/date_of_death": null,
			  "/people/deceased_person/place_of_death": null,
			  "n0:/people/deceased_person/cause_of_death": [{
			    "name": "' ~ cause_of_death ~ '"
			  }],
			  "wiki:key": [{
			    "namespace": "/wikipedia/en_id",
			    "value": null,
			    "limit": 1
			  }]
			}]') %}

			{% if people|length >= 1 %}

				{% page
					title country['/location/location/adjectival_form'].0 ~ ' ' ~ pluralized_profession_name ~ ' died in ' ~ cause_of_death
					keywords [profession_name, people.0.name, people.2.name, country.name, cause_of_death, 'died']
					description "List of the top " ~ people|length ~ " " ~ country['/location/location/adjectival_form'].0 ~ ' ' ~ pluralized_profession_name ~ ' who died in ' ~ cause_of_death
				%}

					<h1>
						{% vary country.name %}
							{{ country['/location/location/adjectival_form'].0 }}
							movie stars died in
							{{ cause_of_death }}
						{% v 1 %}
							{{ country['/location/location/adjectival_form'].0 }}
							{{ pluralized_profession_name }} died in
							{{ cause_of_death }}
						{% v 1 %}
							{{ country['/location/location/adjectival_form'].0 }}
							{{ pluralized_profession_name }} died as a result of
							{{ cause_of_death }}
						{% v 1 %}
							{{ country['/location/location/adjectival_form'].0 }}
							{{ pluralized_profession_name }} died because of
							{{ cause_of_death }}
						{% v 1 %}
							{{ country['/location/location/adjectival_form'].0 }}
							{{ pluralized_profession_name }} who died due to
							{{ cause_of_death }}
						{% v 0.5 %}
							{{ country['/location/location/adjectival_form'].0 }}
							movie {{ pluralized_profession_name }} deceased in
							{{ cause_of_death }}
						{% endvary %}
					</h1>

					<p>Here are {{ people|length }} famous {{ pluralized_profession_name }} from {{ country.name }} died in {{ cause_of_death }}:</p>

					{% for person in people %}
						<h2>{{ person.name }}</h2>
						<p>
							{% include 'quickbio.twig' with {'person': person} %}
						</p>
						<p>
							{% include 'wikimore.twig' with {'person': person} %}
						</p>
					{% endfor %}

					<h2>Related articles</h2>

					<!--RELATED

					RELATED-->

				{% endpage %}

			{% endif %}

		{% endfor %}

	{% endfor %}

{% endfor %}
{% endspaceless %}