{% spaceless %}
{% import "macros.twig" as macros %}

{% set countries_over_1m = freebase('[{
  "/location/statistical_region/population": [{
    "number>": 1000000,
    "limit": 1,
    "number": null
  }],
  "name": null,
  "type": "/location/country",
  "/location/location/adjectival_form": []
}]') %}

{% set countries_over_1m = countries_over_1m|merge([{
	'name': 'the world',
	'/location/location/adjectival_form': ['Famous']
}]) %}

{% for country in countries_over_1m if country['/location/location/adjectival_form']|length > 0 %}

	{% set years = range(1900, 2000) %}

	{% for year in years %}

		{% set people = freebase('
		[{
		  "/people/person/profession": [],
		  "/music/artist/genre": [],
		  "/music/artist/album": [],
		  "limit": 50,
		  "*": null,
		  "id": null,
		  "type": "/music/artist",
		  "/people/person/nationality": [{
		    "name": ' ~ (country.name == 'the world' ? 'null' : '"' ~ country.name ~ '"' ) ~ ',
		    "/location/location/adjectival_form": []
		  }],
		  "/people/person/children": [],
		  "/common/topic/alias": [],
		  "/people/deceased_person/date_of_death": null,
		  "/people/deceased_person/place_of_death": null,
		  "/people/person/place_of_birth": null,
		  "/people/person/date_of_birth": null,
		  "/people/person/gender": null,
		  "n0:/people/person/date_of_birth>=": "' ~ year ~ '-01-01",
		  "n0:/people/person/date_of_birth<=": "' ~ year ~ '-12-31",
		  "wiki:key": [{
		    "namespace": "/wikipedia/en_id",
		    "value": null,
		    "limit": 1
		  }]
		}]
		') %}

			{% if people|length >= 5 %}

				{% page
					title country['/location/location/adjectival_form'].0 ~ ' musicians born in ' ~ year
					keywords ['musician', 'music star', people.0.name, people.2.name, country.name, year, 'born']
					description "List of the top " ~ people|length ~ " " ~ country['/location/location/adjectival_form'].0 ~ '  music stars who died in who were born in ' ~ year
				%}

					<h1>
						{% vary country.name %}
							{{ country['/location/location/adjectival_form'].0 }}
							musicians born in
							{{ year }}
						{% v 1 %}
							{{ country['/location/location/adjectival_form'].0 }}
							music stars born in
							{{ year }}
						{% v 1 %}
							{{ country['/location/location/adjectival_form'].0 }}
							musicians who were born in
							{{ year }}
						{% v 0.5 %}
							{{ country['/location/location/adjectival_form'].0 }}
							musicians born in the year
							{{ year }}
						{% endvary %}
					</h1>

					<p>Here are {{ people|length }} famous musicians from {{ country.name }} were born in {{ year }}:</p>

					{% for person in people %}
						<h2>{{ person.name }}</h2>
						<p>
							{% include 'quickbio.twig' with {'person': person} %}
						</p>
						<p>
						{% if person['/music/artist/album'] is known %}
							{% vary person.name %}
								{{ ucfirst(macros.hisOrHer(person)) }} albums include
							{% v 1 %}
								{{ ucfirst(macros.hisOrHer(person)) }} albums:
							{% v 0.5 %}
								{{ ucfirst(macros.hisOrHer(person)) }} discography includes:
							{% v 0.5 %}
								{{ ucfirst(macros.hisOrHer(person)) }} most {{ vary(person.name, ['important', 'well known', 'recognized']) }} albums:
							{% v 0.5 %}
								Discography:
							{% v 0.2 %}
								Related albums:
							{% endvary %}
							{{ andconcat(person['/music/artist/album']|slice(0, 10)) }}.
						{% endif %}

						{% if person['/music/artist/genre'] is known %}
							{% vary person.name %}
								Genres:
							{% v 1 %}
								Genres {{ macros.heOrShe(person) }} performed:
							{% v 1 %}
								Genres {{ macros.heOrShe(person) }} performed include
							{% v 0.5 %}
								{{ ucfirst(macros.hisOrHer(person)) }} related genres:
							{% v 0.5 %}
								Genres related to {{ macros.himOrHer(person) }}:
							{% endvary %}
							{{ andconcat(person['/music/artist/genre']) }}.
						{% endif %}
					</p>
						<p>
							{% include 'wikimore.twig' with {'person': person} %}
						</p>
					{% endfor %}

					<h2>Related articles</h2>

					<!--RELATED

					RELATED-->

				{% endpage %}

			{% endif %}

	{% endfor %}

{% endfor %}
{% endspaceless %}